@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

* {
  font-family: "Roboto", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
}

.snackbar {
  background: rgba(135, 253, 110, 0.2);
  border: 2px solid #00b0c8;
  border-radius: 8px;
  padding: 20px;
  width: 400px;
  text-align: center;
}
.title {
  margin: 0;
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.description {
  margin: 0;
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

button {
  float: right;
}
