.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 32px;
}

.storybook-switch--large {
  width: 65px;
  height: 40px;
}

.storybook-switch--small {
  width: 39px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #87FD6E33;
  -webkit-transition: .4s;
  transition: .4s;
  outline: solid 2px #018799;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 8px;
  bottom: 8px;
  background-color: #018799;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider--secondary {
  background-color: #ffffff;
  outline: solid 2px #000000;
}

.slider--secondary:before {
  background-color: #000000;
}

.storybook-slider--large::before {
  height: 20px;
  width: 20px;
  left: 8px;
  bottom: 10px;
}

.storybook-slider--small::before {
  height: 12px;
  width: 12px;
  left: 6px;
  bottom: 6px;
}

.check {
  visibility: hidden;
}

input:checked+.slider {
  background-color: #00B0C8;
  outline: solid 2px #00B0C8;
}

input:checked+.slider:before {
  transform: translateX(20px);
  background-color: white;
  height: 24px;
  width: 24px;
  bottom: 4px;
  left: 4px;
}

input:checked+.slider--secondary {
  background-color: #ffffff;
  outline: solid 2px #000000;
}

input:checked+.slider--secondary:before {
  transform: translateX(20px);
  background-color: rgb(0, 0, 0);
}

input:checked+.storybook-slider--large:before {
  transform: translateX(26px);
  height: 28px;
  width: 28px;
  bottom: 6px;
}

input:checked+.storybook-slider--small:before {
  transform: translateX(12px);
  height: 20px;
  width: 20px;
  bottom: 2px;
}

input:checked~* .check {
  visibility: visible;
  position: absolute;
  height: 16px;
  width: 16px;
  right: 8px;
  bottom: 8px;
  color: #018799;
  transition-delay: .2s;
}

input:checked~* .check--secondary {
  color: #ffffff;
}

input:checked~* .storybook-check--large {
  height: 20px;
  width: 20px;
  right: 10px;
  bottom: 10px;
}

input:checked~* .storybook-check--small {
  height: 12px;
  width: 12px;
  right: 7px;
  bottom: 6px;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}