.cardsContainer {
    display: grid;
    grid-template-columns: repeat(4);
    grid-template-rows: repeat(2);
    gap: 20px;
    justify-items: center;
    
  }
  
  .showMoreButtonContainer {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  