.cardContainer {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  
  .cardDiv {
    display: flex;
    justify-content: center;
  }
  