.cardsContainer {
    display: grid;
    margin-left: 50px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    justify-items: center;
    margin-bottom: 50px;
  }
  
  .paginationContainer{
    display: flex;  
    justify-content: center;  
    margin-bottom: 80px;
  }
  